.icon-paperplane {
    font-size: 60px;
    color: #ebc526;
}
.icon-diamond {
    font-size: 60px;
    color: #ebc526;
}
.icon-heart {
    font-size: 60px;
    color: #ebc526;
}
.icon-cup {
    font-size: 60px;
    color: #ebc526;
}
.icon-food {
    font-size: 60px;
    color: #ebc526;
}

body {
    margin: 0;
    padding: 0;
}

.padre {
    position: relative;
}

.box {
    width: 19%;
    height: 60%;
    outline: 1px solid #000;
    position: absolute;
    top: 0;
}
.ruby {
    left: 20%;
}
.heart {
    left: 40%;
}
.cup {
    left: 60%;
}
.food {
    left: 80%;
}
.plane {
    left: 1%;
}