.icon-paperplane {
    font-size: 60px;
    color: #ebc526;
}
.icon-diamond {
    font-size: 60px;
    color: #ebc526;
}
.icon-heart {
    font-size: 60px;
    color: #ebc526;
}
.icon-cup {
    font-size: 60px;
    color: #ebc526;
}
.icon-food {
    font-size: 60px;
    color: #ebc526;
}

.box {
    width: 18%;
    height: 60%;
    border: 1px solid #000;
    display: inline-block;
    margin-top: 0;
}
body {
    margin: 0;
    padding: 0;
}
.padre {
    
}